.img-wrapper {
  left: 0;
  position: absolute;
  top: 0;
}

.img-wrapper.variant-36-four {
  height: 25px;
  width: 26px;
}

.img-wrapper.variant-36-three {
  height: 25px;
  width: 26px;
}

.img-wrapper.variant-36-five {
  height: 80px;
  width: 82px;
}

.img-wrapper.variant-36-two {
  height: 18px;
  width: 25px;
}

.img-wrapper.variant-36-one {
  height: 32px;
  width: 22px;
}
