.component-26 .overlap {
  height: 486px;
  position: relative;
}

.component-26 .vector {
  height: 466px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 745px;
}

.component-26 .vector-2 {
  height: 484px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 748px;
}

.component-26 .group {
  height: 463px;
  left: 7px;
  position: absolute;
  top: 2px;
  width: 742px;
}

.component-26 .overlap-group {
  height: 464px;
  position: relative;
  width: 743px;
}

.component-26 .vector-3 {
  height: 263px;
  left: 34px;
  position: absolute;
  top: 0;
  width: 422px;
}

.component-26 .vector-4 {
  height: 84px;
  left: 174px;
  position: absolute;
  top: 101px;
  width: 100px;
}

.component-26 .vector-5 {
  height: 114px;
  left: 95px;
  position: absolute;
  top: 239px;
  width: 98px;
}

.component-26 .vector-6 {
  height: 84px;
  left: 381px;
  position: absolute;
  top: 195px;
  width: 97px;
}

.component-26 .vector-7 {
  height: 106px;
  left: 176px;
  position: absolute;
  top: 248px;
  width: 102px;
}

.component-26 .vector-8 {
  height: 52px;
  left: 567px;
  position: absolute;
  top: 191px;
  width: 61px;
}

.component-26 .vector-9 {
  height: 138px;
  left: 49px;
  position: absolute;
  top: 130px;
  width: 89px;
}

.component-26 .vector-10 {
  height: 38px;
  left: 660px;
  position: absolute;
  top: 153px;
  width: 20px;
}

.component-26 .vector-11 {
  height: 193px;
  left: 419px;
  position: absolute;
  top: 67px;
  width: 140px;
}

.component-26 .vector-12 {
  height: 70px;
  left: 530px;
  position: absolute;
  top: 155px;
  width: 62px;
}

.component-26 .vector-13 {
  height: 112px;
  left: 586px;
  position: absolute;
  top: 83px;
  width: 95px;
}

.component-26 .vector-14 {
  height: 130px;
  left: 664px;
  position: absolute;
  top: 23px;
  width: 78px;
}

.component-26 .vector-15 {
  height: 28px;
  left: 655px;
  position: absolute;
  top: 181px;
  width: 18px;
}

.component-26 .vector-16 {
  height: 207px;
  left: 218px;
  position: absolute;
  top: 256px;
  width: 268px;
}

.component-26 .vector-17 {
  height: 168px;
  left: 447px;
  position: absolute;
  top: 287px;
  width: 193px;
}

.component-26 .vector-18 {
  height: 157px;
  left: 466px;
  position: absolute;
  top: 183px;
  width: 206px;
}

.component-26 .overlap-group-wrapper {
  height: 273px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 120px;
}

.component-26 .overlap-group-2 {
  height: 273px;
  position: relative;
}

.component-26 .group-2 {
  height: 74px;
  left: 76px;
  position: absolute;
  top: 23px;
  width: 44px;
}

.component-26 .vector-19 {
  height: 197px;
  left: 0;
  position: absolute;
  top: 76px;
  width: 106px;
}

.component-26 .group-3 {
  height: 5px;
  left: 61px;
  position: absolute;
  top: 87px;
  width: 16px;
}

.component-26 .group-4 {
  height: 91px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 85px;
}

.component-26 .vector-20 {
  height: 466px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 745px;
}

.component-26 .vector-21 {
  height: 80px;
  left: 199px;
  position: absolute;
  top: 179px;
  width: 104px;
}

.component-26 .group-5 {
  height: 36px;
  left: 227px;
  position: absolute;
  top: 176px;
  width: 30px;
}

.component-26 .group-6 {
  height: 16px;
  left: 269px;
  position: absolute;
  top: 205px;
  width: 108px;
}

.component-26.variant-9 {
  left: 0;
  position: absolute;
  top: 0;
}

.component-26.variant-24-eight {
  height: 1218px;
  width: 1218px;
}

.component-26.variant-24-four {
  height: 1218px;
  width: 1218px;
}

.component-26.variant-24-three {
  height: 1218px;
  width: 1218px;
}

.component-26.variant-24-five {
  height: 1218px;
  width: 1218px;
}

.component-26.variant-24-six {
  height: 1218px;
  width: 1218px;
}

.component-26.variant-24-seven {
  height: 1218px;
  width: 1218px;
}

.component-26.variant-24-two {
  height: 486px;
  width: 751px;
}

.component-26.variant-24-one {
  height: 1218px;
  width: 1218px;
}

.component-26.variant-25-eight {
  height: 44px;
  width: 44px;
}

.component-26.variant-25-four {
  height: 18px;
  width: 18px;
}

.component-26.variant-25-three {
  height: 19px;
  width: 19px;
}

.component-26.variant-25-five {
  height: 19px;
  width: 19px;
}

.component-26.variant-25-six {
  height: 18px;
  width: 18px;
}

.component-26.variant-25-seven {
  height: 47px;
  width: 47px;
}

.component-26.variant-25-two {
  height: 19px;
  width: 19px;
}

.component-26.variant-25-one {
  height: 19px;
  width: 19px;
}
