.component-4 {
  align-items: center;
  display: flex;
  position: relative;
}

.component-4 .class {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.component-4 .class-2 {
  height: 19.26px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 19.26px !important;
}

.component-4 .class-3 {
  height: 47.08px !important;
  left: unset !important;
  margin-bottom: -1.54px !important;
  margin-top: -1.54px !important;
  position: relative !important;
  top: unset !important;
  width: 47.08px !important;
}

.component-4 .class-4 {
  height: 19.27px !important;
  left: unset !important;
  margin-top: -0.01px !important;
  position: relative !important;
  top: unset !important;
  width: 19.26px !important;
}

.component-4.hover-8-true {
  left: 180px;
}

.component-4.variant-8-three {
  height: 44px;
  justify-content: center;
  top: 184px;
}

.component-4.hover-8-false {
  left: 30px;
}

.component-4.variant-8-two {
  top: 107px;
}

.component-4.variant-8-one {
  top: 30px;
}

.component-4.variant-8-three.hover-8-false {
  width: 44px;
}

.component-4.variant-8-one.hover-8-false {
  padding: 13px;
  width: calc(100.00% - 30px);
}

.component-4.hover-8-true.variant-8-two {
  padding: 12.37px;
  width: calc(100.00% - 180px);
}

.component-4.hover-8-true.variant-8-one {
  padding: 12.37px;
  width: calc(100.00% - 180px);
}

.component-4.variant-8-two.hover-8-false {
  padding: 13px;
  width: calc(100.00% - 30px);
}

.component-4.hover-8-true.variant-8-three {
  width: 47px;
}
