.component-30.variant-10 {
  left: 0;
  position: absolute;
  top: 0;
}

.component-30.variant-11 {
  height: 1218px;
  width: 1218px;
}

.component-30.variant-29-ten {
  height: 18px;
  width: 18px;
}

.component-30.variant-29-eight {
  height: 18px;
  width: 18px;
}

.component-30.variant-29-four {
  height: 20px;
  width: 20px;
}

.component-30.variant-29-three {
  height: 20px;
  width: 20px;
}

.component-30.variant-29-nine {
  height: 19px;
  width: 19px;
}

.component-30.variant-29-five {
  height: 20px;
  width: 20px;
}

.component-30.variant-29-six {
  height: 20px;
  width: 20px;
}

.component-30.variant-29-seven {
  height: 19px;
  width: 19px;
}

.component-30.variant-29-two {
  height: 44px;
  width: 44px;
}

.component-30.variant-29-one {
  height: 47px;
  width: 47px;
}
