.component-7.variant-3 {
  height: 1188px;
  width: 1188px;
}

.component-7.variant-4 {
  left: 0;
  position: absolute;
  top: 0;
}

.component-7.variant-9-four {
  height: 19px;
  width: 19px;
}

.component-7.variant-9-three {
  height: 18px;
  width: 18px;
}

.component-7.variant-9-five {
  height: 18px;
  width: 18px;
}

.component-7.variant-9-six {
  height: 47px;
  width: 47px;
}

.component-7.variant-9-seven {
  height: 44px;
  width: 44px;
}

.component-7.variant-9-two {
  height: 19px;
  width: 19px;
}

.component-7.variant-9-one {
  height: 19px;
  width: 19px;
}
