.component-13.variant-5 {
  height: 1188px;
  width: 1188px;
}

.component-13.variant-6 {
  left: 0;
  position: absolute;
  top: 0;
}

.component-13.variant-13-four {
  height: 19px;
  width: 19px;
}

.component-13.variant-13-three {
  height: 18px;
  width: 18px;
}

.component-13.variant-13-five {
  height: 18px;
  width: 18px;
}

.component-13.variant-13-six {
  height: 47px;
  width: 47px;
}

.component-13.variant-13-seven {
  height: 44px;
  width: 44px;
}

.component-13.variant-13-two {
  height: 19px;
  width: 19px;
}

.component-13.variant-13-one {
  height: 19px;
  width: 19px;
}
