.component-18.variant-7 {
  height: 1188px;
  width: 1188px;
}

.component-18.variant-8 {
  position: absolute;
  top: 0;
}

.component-18.variant-15-ten {
  height: 24px;
  left: 0;
  width: 24px;
}

.component-18.variant-15-eight {
  height: 19px;
  left: 0;
  width: 19px;
}

.component-18.variant-15-eleven {
  height: 47px;
  left: 0;
  width: 47px;
}

.component-18.variant-15-four {
  height: 90px;
  left: 0;
  width: 90px;
}

.component-18.variant-15-three {
  height: 11px;
  left: -2px;
  width: 17px;
}

.component-18.variant-15-nine {
  height: 18px;
  left: 0;
  width: 18px;
}

.component-18.variant-15-five {
  height: 48px;
  left: 0;
  width: 50px;
}

.component-18.variant-15-six {
  height: 19px;
  left: 0;
  width: 19px;
}

.component-18.variant-15-seven {
  height: 18px;
  left: 0;
  width: 18px;
}

.component-18.variant-15-two {
  height: 11px;
  left: 0;
  width: 15px;
}

.component-18.variant-15-one {
  height: 11px;
  left: 0;
  width: 19px;
}

.component-18.variant-15-twelve {
  height: 44px;
  left: 0;
  width: 44px;
}
