.concrete-component-node.div {
  height: 1188px;
  width: 1188px;
}

.concrete-component-node.variant-2 {
  left: 0;
  position: absolute;
  top: 0;
}

.concrete-component-node.variant-2-four {
  height: 19px;
  width: 19px;
}

.concrete-component-node.variant-2-three {
  height: 18px;
  width: 18px;
}

.concrete-component-node.variant-2-five {
  height: 18px;
  width: 18px;
}

.concrete-component-node.variant-2-six {
  height: 47px;
  width: 47px;
}

.concrete-component-node.variant-2-seven {
  height: 44px;
  width: 44px;
}

.concrete-component-node.variant-2-two {
  height: 19px;
  width: 19px;
}

.concrete-component-node.variant-2-one {
  height: 19px;
  width: 19px;
}
