.component-27 {
  align-items: center;
  display: flex;
  position: relative;
}

.component-27.hover-21-true {
  left: 180px;
  padding: 12.36px 12.37px 12.37px 12.36px;
  width: calc(100.00% - 180px);
}

.component-27.variant-26-two {
  top: 104px;
}

.component-27.variant-26-one {
  top: 30px;
}

.component-27.hover-21-false {
  left: 30px;
  padding: 13px;
  width: calc(100.00% - 30px);
}
