.component-46 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 30px;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  max-width: 200px;
  padding: 12.36px 20.75px 13.64px;
  position: absolute;
  right: 0;
  top: 30px;
}

.component-46 .text-33 {
  color: #0b0264;
  font-family: var(--stickershuttle-com-montserrat-medium-font-family);
  font-size: var(--stickershuttle-com-montserrat-medium-font-size);
  font-style: var(--stickershuttle-com-montserrat-medium-font-style);
  font-weight: var(--stickershuttle-com-montserrat-medium-font-weight);
  letter-spacing: var(--stickershuttle-com-montserrat-medium-letter-spacing);
  line-height: var(--stickershuttle-com-montserrat-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.component-46:hover {
  opacity: 0.8;
}
