.vinylstickers {
  background-color: #ffffff;
  height: 4087px;
  width: 1920px;
}

.vinylstickers .body-11 {
  align-items: flex-start;
  background-color: #070140;
  display: flex;
  flex-direction: column;
  height: 4100px;
  position: relative;
  top: -13px;
  width: 1920px;
}

.vinylstickers .container-384 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 3619.64px;
  position: relative;
  width: 1920px;
}

.vinylstickers .main-13 {
  height: 2245px;
  position: relative;
  width: 1920px;
}

.vinylstickers .section-28 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.vinylstickers .container-385 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 1600px;
  padding: 16px 50px 0px;
  position: relative;
  width: 1600px;
}

.vinylstickers .background-border-54 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #070140;
  border: 1px solid;
  border-color: #ffffff0d;
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  min-height: 420px;
  overflow: hidden;
  padding: 1px;
  position: relative;
  width: 100%;
}

.vinylstickers .overlay-10 {
  background-color: #ffffff1a;
  height: 418px;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: 1px;
  width: 1498px;
}

.vinylstickers .stickershuttle-12 {
  background-image: url(../../../static/img/stickershuttle-banner-purplecustomstickers-36912e76-3eb1-4906-a6-6.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 418px;
  left: -13px;
  position: relative;
  width: 1511px;
}

.vinylstickers .container-386 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  max-width: 1600px;
  padding: 0px 50px;
  position: relative;
}

.vinylstickers .container-387 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  max-width: 680px;
  min-width: 450px;
  padding: 40px 35px;
  position: relative;
}

.vinylstickers .heading-15 {
  align-self: stretch;
  height: 52px;
  position: relative;
  width: 100%;
}

.vinylstickers .container-388 {
  height: 47px;
  max-width: 450px;
  position: relative;
  width: 185px;
}

.vinylstickers .section-29 {
  background-color: #070140;
  height: 20px;
  left: 0;
  position: absolute;
  top: 442px;
  width: 1920px;
}

.vinylstickers .section-30 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 468px;
  width: 1920px;
}

.vinylstickers .background-border-55 {
  align-items: center;
  background-color: #f3ff00;
  border: 2px dashed;
  border-color: #bfd207;
  border-radius: 16px;
  box-shadow: 3px 3px 0px #8a970fcc;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 18px 2px;
  position: relative;
  width: 1500px;
}

.vinylstickers .container-389 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 780px;
  position: relative;
  width: 780px;
}

.vinylstickers .div-wrapper-11 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.vinylstickers .all-orders-with-7 {
  align-self: stretch;
  color: #08084c;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.60px;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.vinylstickers .text-wrapper-139 {
  font-weight: 300;
  letter-spacing: 0.10px;
}

.vinylstickers .text-wrapper-140 {
  font-weight: 700;
  letter-spacing: 0.10px;
}

.vinylstickers .section-31 {
  background-color: #070140;
  height: 24px;
  left: 0;
  position: absolute;
  top: 539px;
  width: 1920px;
}

.vinylstickers .section-32 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 722px;
  left: 0;
  position: absolute;
  top: 569px;
  width: 1920px;
}

.vinylstickers .screenshot-4 {
  height: 628px;
  position: relative;
  width: 1391.29px;
}

.vinylstickers .container-390 {
  height: 1676px;
  margin-bottom: -1582.00px;
  max-width: 1600px;
  position: relative;
  width: 1600px;
}

.vinylstickers .product-options-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 50px;
  padding: 0px 0px 6px;
  position: relative;
  width: 1500px;
}

.vinylstickers .container-391 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 0px;
  height: 943.53px;
  position: relative;
  width: 100%;
}

.vinylstickers .container-392 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.vinylstickers .container-393 {
  height: 943.53px;
  position: relative;
  width: 1500px;
}

.vinylstickers .container-394 {
  align-self: stretch;
  height: 677px;
  position: relative;
  width: 100%;
}

.vinylstickers .background-20 {
  align-items: center;
  background-color: #070140;
  display: flex;
  flex-direction: column;
  height: 110px;
  position: relative;
  top: 7px;
  width: 1920px;
}

.vinylstickers .container-395 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 110px;
  max-width: 1600px;
  padding: 0px 50px 24px;
  position: relative;
  width: 1600px;
}

.vinylstickers .container-396 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 24px;
  height: 103px;
  margin-bottom: -17.00px;
  position: relative;
  width: 100%;
}

.vinylstickers .container-397 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-width: 483.95px;
  position: relative;
}

.vinylstickers .background-border-56 {
  align-items: center;
  align-self: stretch;
  background-color: #08084c;
  border: 1px solid;
  border-color: #0f028c;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 21px;
  position: relative;
  width: 100%;
}

.vinylstickers .container-398 {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 50px;
}

.vinylstickers .container-399 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -4.00px;
  margin-top: -4.00px;
  position: relative;
}

.vinylstickers .text-wrapper-141 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 0.60px;
  line-height: 57.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.vinylstickers .container-400 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 16px 0px;
  position: relative;
}

.vinylstickers .div-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.vinylstickers .text-wrapper-142 {
  color: #ffffff;
  font-family: var(--stickershuttle-com-inter-regular-font-family);
  font-size: var(--stickershuttle-com-inter-regular-font-size);
  font-style: var(--stickershuttle-com-inter-regular-font-style);
  font-weight: var(--stickershuttle-com-inter-regular-font-weight);
  letter-spacing: var(--stickershuttle-com-inter-regular-letter-spacing);
  line-height: var(--stickershuttle-com-inter-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.vinylstickers .background-border-57 {
  align-items: center;
  align-self: stretch;
  background-color: #08084c;
  border: 1px solid;
  border-color: #0f028c;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 9.48px;
  padding: 21px 262.33px 21px 14.46px;
  position: relative;
  width: 100%;
}

.vinylstickers .container-401 {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 63.06px;
}

.vinylstickers .rectangle-9 {
  height: 57.59px;
  margin-bottom: -3.80px;
  margin-top: -3.80px;
  position: relative;
  width: 63.06px;
}

.vinylstickers .container-402 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-right: -1.38px;
  padding: 16px 0px;
  position: relative;
}

.vinylstickers .section-33 {
  align-items: center;
  background-color: #070140;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1920px;
}

.vinylstickers .container-403 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 1600px;
  padding: 0px 50px 16px;
  position: relative;
  width: 1600px;
}

.vinylstickers .slider-component-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 24px;
  position: relative;
  width: 100%;
}

.vinylstickers .item-45 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  max-width: 357px;
  position: relative;
}

.vinylstickers .container-404 {
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 31px 1px 21px;
  position: relative;
  width: 100%;
}

.vinylstickers .background-border-58 {
  background-color: #08084c;
  border: 1px solid;
  border-color: #ffffff0d;
  border-radius: 16px;
  height: 540px;
  left: 0;
  position: absolute;
  top: 0;
  width: 357px;
}

.vinylstickers .container-405 {
  background-image: url(../../../static/img/stickershuttle-helmet-png-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 305px;
  position: relative;
  width: 305px;
}

.vinylstickers .container-406 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 9.4px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.vinylstickers .text-wrapper-143 {
  align-self: stretch;
  color: #ffffff;
  font-family: var(--stickershuttle-com-semantic-heading-3-font-family);
  font-size: var(--stickershuttle-com-semantic-heading-3-font-size);
  font-style: var(--stickershuttle-com-semantic-heading-3-font-style);
  font-weight: var(--stickershuttle-com-semantic-heading-3-font-weight);
  letter-spacing: var(--stickershuttle-com-semantic-heading-3-letter-spacing);
  line-height: var(--stickershuttle-com-semantic-heading-3-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.vinylstickers .text-wrapper-144 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.60px;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.vinylstickers .container-407 {
  height: 305px;
  position: relative;
  width: 305px;
}

.vinylstickers .stickershuttle-13 {
  background-image: url(../../../static/img/stickershuttle-bottle-png-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 305px;
  left: 51px;
  position: relative;
  width: 203px;
}

.vinylstickers .container-408 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 29px;
  position: relative;
  width: 100%;
}

.vinylstickers .stickershuttle-board-5 {
  background-image: url(../../../static/img/stickershuttle-board-150b2de5-5194-4773-b983-0a4f746602a4-png-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 305px;
  left: 51px;
  position: relative;
  width: 203px;
}

.vinylstickers .container-409 {
  background-image: url(../../../static/img/stickershuttle-visitmars-png-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 305px;
  position: relative;
  width: 305px;
}

.vinylstickers .footer-14 {
  align-items: center;
  background: linear-gradient(
    161deg,
    rgba(7, 1, 64, 1) 100%,
    rgba(238, 238, 238, 1) 100%
  );
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -20.76px;
  position: relative;
  width: 1920px;
}

.vinylstickers .container-410 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 29.99px;
  max-width: 1600px;
  padding: 0px 50px 50px;
  position: relative;
  width: 1600px;
}

.vinylstickers .container-411 {
  align-self: stretch;
  height: 377.13px;
  position: relative;
  width: 100%;
}

.vinylstickers .container-412 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 216px;
  left: 0;
  max-width: 1500px;
  position: absolute;
  top: 0;
  width: 484px;
}

.vinylstickers .text-wrapper-145 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.60px;
  line-height: 23.4px;
  margin-top: -1.00px;
  position: relative;
}

.vinylstickers .list-31 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -0.93px;
  position: relative;
  width: 100%;
}

.vinylstickers .item-46 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 1.5px 0px 0px;
  position: relative;
  width: 469px;
}

.vinylstickers .component-181 {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.vinylstickers .item-47 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 469px;
}

.vinylstickers .component-182 {
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 4.5px 0px 4.69px !important;
  top: unset !important;
}

.vinylstickers .container-413 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 216px;
  left: 508px;
  max-width: 1500px;
  position: absolute;
  top: 0;
  width: 484px;
}

.vinylstickers .item-48 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-top: -0.01px;
  position: relative;
  width: 100%;
}

.vinylstickers .container-414 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 19.3px;
  height: 216px;
  left: 1016px;
  max-width: 1500px;
  position: absolute;
  top: 0;
  width: 484px;
}

.vinylstickers .text-wrapper-146 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.60px;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
}

.vinylstickers .container-415 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 101px;
  left: 0;
  max-width: 1500px;
  position: absolute;
  top: 276px;
  width: 484px;
}

.vinylstickers .container-416 {
  align-self: stretch;
  height: 99.8px;
  position: relative;
  width: 100%;
}

.vinylstickers .container-417 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 101px;
  left: 508px;
  max-width: 1500px;
  position: absolute;
  top: 276px;
  width: 484px;
}

.vinylstickers .container-418 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -8.00px;
  padding: 0px 0px 8.8px;
  position: relative;
  width: 100%;
}

.vinylstickers .sticker-society-PNG-13 {
  background-image: url(../../../static/img/sticker-society-png-160x-png-6.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100px;
  position: relative;
  width: 385px;
}

.vinylstickers .container-419 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 101px;
  left: 1016px;
  max-width: 1500px;
  position: absolute;
  top: 276px;
  width: 484px;
}

.vinylstickers .strong-sticker-14 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.60px;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
}

.vinylstickers .container-420 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.vinylstickers .list-32 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0px 0px;
  height: 44px;
  justify-content: center;
  position: relative;
}

.vinylstickers .item-49 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.vinylstickers .component-183 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.vinylstickers .component-184 {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.vinylstickers .horizontal-border-17 {
  align-self: stretch;
  border-color: #ffffff14;
  border-top-style: solid;
  border-top-width: 1px;
  height: 1px;
  margin-bottom: -1.00px;
  position: relative;
  width: 100%;
}

.vinylstickers .container-421 {
  height: 775px;
  left: 0;
  position: absolute;
  top: 2375px;
  width: 1920px;
}

.vinylstickers .website-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 1188px;
  left: 0;
  max-height: 1188px;
  max-width: 1900.8px;
  position: absolute;
  top: 0;
  width: 1901px;
}

.vinylstickers .image-fill-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1188px;
  justify-content: center;
  padding: 0px 356.4px;
  position: relative;
  width: 1900.8px;
}

.vinylstickers .component-185 {
  position: relative !important;
}

.vinylstickers .container-422 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  height: 93px;
  left: 0;
  position: absolute;
  top: -2px;
}

.vinylstickers .background-21 {
  align-items: flex-start;
  background: linear-gradient(
    176deg,
    rgba(7, 1, 64, 1) 100%,
    rgba(238, 238, 238, 1) 100%
  );
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 160px;
  position: relative;
  width: 1920px;
}

.vinylstickers .header-14 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 10px;
  max-width: 1600px;
  padding: 16px 50px 0px;
  position: relative;
  width: 100%;
}

.vinylstickers .link-margin-26 {
  height: 69px;
  position: relative;
  width: 107.5px;
}

.vinylstickers .link-12 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: -8px;
  padding: 7.5px;
  position: relative;
}

.vinylstickers .sticker-shuttle-14 {
  background-image: url(../../../static/img/sticker-society-png-160x-png-6.png);
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  height: 62px;
  position: relative;
  width: 252px;
}

.vinylstickers .nav-margin-7 {
  flex: 1;
  flex-grow: 1;
  height: 10.5px;
  position: relative;
}

.vinylstickers .container-423 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.vinylstickers .component-186 {
  align-self: stretch !important;
  border-color: #1a1a74 !important;
  flex: 0 0 auto !important;
  height: unset !important;
  position: relative !important;
  right: unset !important;
  top: unset !important;
}

.vinylstickers .component-187 {
  font-weight: 500 !important;
}

.vinylstickers .component-188 {
  align-self: stretch !important;
  background-color: #c3ff00 !important;
  border-color: #000000 !important;
  box-shadow: 2px 2px 0px #ffffff !important;
  flex: 0 0 auto !important;
  height: unset !important;
  position: relative !important;
  right: unset !important;
  top: unset !important;
}

.vinylstickers .link-margin-27 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 44px;
  position: relative;
  width: 32px;
}

.vinylstickers .component-189 {
  left: unset !important;
  margin-right: -12.00px !important;
  top: unset !important;
}

.vinylstickers .component-190 {
  align-items: center;
  border-radius: 11px;
  display: flex;
  height: 47px;
  justify-content: center;
  left: 254px;
  padding: 14px 30px 15px;
  position: absolute;
  top: 376px;
  width: 184px;
}

.vinylstickers .link-paints-8 {
  background-color: #ffd713;
  border-radius: 11px;
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  width: 184px;
}

.vinylstickers .frame-3 {
  align-items: center;
  background-color: #ffffff01;
  border-radius: 10px;
  box-shadow: 2px 2px 0px #cfaf13;
  display: flex;
  gap: 10px;
  height: 45px;
  justify-content: center;
  margin-bottom: -13.50px;
  margin-left: -29.50px;
  margin-right: -29.50px;
  margin-top: -13.50px;
  padding: 13px 29px;
  position: relative;
  width: 183px;
}

.vinylstickers .text-wrapper-147 {
  color: #000000;
  display: block;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.00px;
  line-height: 18px;
  margin-top: -0.50px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.vinylstickers .vinyl-stickers {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 35px;
  font-weight: 700;
  height: 283px;
  left: 256px;
  letter-spacing: 0.60px;
  line-height: 35px;
  position: absolute;
  top: 77px;
  width: 848px;
}

.vinylstickers .text-wrapper-148 {
  letter-spacing: 0.21px;
  line-height: 72px;
}

.vinylstickers .text-wrapper-149 {
  font-size: 15px;
  letter-spacing: 0.09px;
  line-height: 21px;
}
