.component-1.variant {
  height: 1188px;
  width: 1188px;
}

.component-1.img {
  left: 0;
  position: absolute;
  top: 0;
}

.component-1.eight {
  height: 44px;
  width: 44px;
}

.component-1.four {
  height: 19px;
  width: 19px;
}

.component-1.three {
  height: 18px;
  width: 18px;
}

.component-1.five {
  height: 18px;
  width: 18px;
}

.component-1.six {
  height: 24px;
  width: 24px;
}

.component-1.seven {
  height: 47px;
  width: 47px;
}

.component-1.two {
  height: 19px;
  width: 19px;
}

.component-1.one {
  height: 19px;
  width: 19px;
}
