.checkout {
  align-items: flex-start;
  background-color: #f4f1ff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.checkout .background-13 {
  align-items: center;
  align-self: stretch;
  background-color: #f4f1ff;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.checkout .header-10 {
  background-color: transparent;
  background-image: url(../../../static/img/header.png);
  background-position: 50% 50%;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d5d0e9;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  height: 101.86px;
  position: relative;
  width: 1713px;
}

.checkout .container-279 {
  height: 59px;
  left: 364px;
  position: relative;
  top: 21px;
  width: 984px;
}

.checkout .white-logo-png-wrapper {
  border-radius: 8px;
  height: 59px;
  left: 437px;
  position: absolute;
  top: 0;
  width: 110px;
}

.checkout .white-logo-png {
  background-image: url(../../../static/img/white-logo-x320-png.png);
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  height: 59px;
  width: 250px;
}

.checkout .link-envelope {
  background-image: url(../../../static/img/svg.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8px;
  height: 24px;
  left: 960px;
  position: absolute;
  top: 17px;
  width: 24px;
}

.checkout .vertical-border {
  border-color: #d5d0e9;
  border-right-style: solid;
  border-right-width: 1px;
  height: 953.91px;
  position: relative;
  width: 580px;
}

.checkout .main-form {
  height: 770px;
  left: 38px;
  position: absolute;
  top: 38px;
  width: 503px;
}

.checkout .section-contact {
  background-color: #f4f1ff;
  height: 490px;
  left: 0;
  position: absolute;
  top: 0;
  width: 503px;
}

.checkout .horizontal-border-10 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d5d0e9;
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 503px;
}

.checkout .heading-12 {
  height: 38px;
  position: relative;
  top: 14px;
}

.checkout .SVG {
  height: 20px;
  left: 0;
  position: absolute;
  top: -14px;
  width: 84px;
}

.checkout .text-wrapper-79 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 140px;
}

.checkout .button-more-actions {
  background-image: url(../../../static/img/svg-2.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8px;
  height: 18px;
  left: 485px;
  position: absolute;
  top: 17px;
  width: 18px;
}

.checkout .section-delivery-wrapper {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d5d0e9;
  height: 162px;
  left: 0;
  position: absolute;
  top: 67px;
  width: 503px;
}

.checkout .section-delivery {
  height: 133px;
  position: relative;
  top: 14px;
}

.checkout .text-wrapper-80 {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 49px;
}

.checkout .fieldset {
  height: 98px;
  left: 0;
  position: absolute;
  top: 35px;
  width: 503px;
}

.checkout .background-14 {
  background-color: #f0f5ff;
  border-radius: 8px;
  height: 49px;
  left: 0;
  position: absolute;
  top: 0;
  width: 503px;
}

.checkout .input-2 {
  background-color: #ffffff;
  border: 6px solid;
  border-color: #1773b0;
  border-radius: 9px;
  height: 18px;
  left: 14px;
  position: absolute;
  top: 16px;
  width: 18px;
}

.checkout .label-2 {
  height: 21px;
  left: 43px;
  position: absolute;
  top: 14px;
  width: 446px;
}

.checkout .SVG-2 {
  height: 18px;
  left: 428px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 18px;
}

.checkout .text-wrapper-81 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 28px;
}

.checkout .input-3 {
  background-color: #f4f1ff;
  border: 1px solid;
  border-color: #d5d0e9;
  border-radius: 9px;
  height: 18px;
  left: 14px;
  position: absolute;
  top: 65px;
  width: 18px;
}

.checkout .label-3 {
  height: 21px;
  left: 43px;
  position: absolute;
  top: 63px;
  width: 446px;
}

.checkout .SVG-3 {
  background-image: url(../../../static/img/clip-path-group.png);
  background-size: 100% 100%;
  height: 18px;
  left: 428px;
  position: absolute;
  top: 0;
  width: 18px;
}

.checkout .text-wrapper-82 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 92px;
}

.checkout .horizontal-border-11 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d5d0e9;
  height: 79px;
  left: 0;
  position: absolute;
  top: 229px;
  width: 503px;
}

.checkout .button-wrapper {
  height: 50px;
  position: relative;
  top: 14px;
}

.checkout .button {
  height: 50px;
  position: relative;
  width: 503px;
}

.checkout .text-wrapper-83 {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  width: 43px;
}

.checkout .SVG-wrapper {
  background-color: #2c646a0d;
  border-radius: 8px;
  height: 24px;
  left: 479px;
  position: absolute;
  top: 0;
  width: 24px;
}

.checkout .SVG-4 {
  height: 10px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 10px;
}

.checkout .text-wrapper-84 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 384px;
}

.checkout .horizontal-border-12 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d5d0e9;
  height: 100px;
  left: 0;
  position: absolute;
  top: 308px;
  width: 503px;
}

.checkout .heading-13 {
  height: 71px;
  position: relative;
  top: 14px;
}

.checkout .button-2 {
  height: 71px;
  position: relative;
  width: 503px;
}

.checkout .text-wrapper-85 {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  width: 106px;
}

.checkout .paragraph {
  height: 21px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 256px;
}

.checkout .text-wrapper-86 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 211px;
}

.checkout .text-wrapper-87 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 215px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 4px;
}

.checkout .strong-free {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 21px;
  left: 224px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 33px;
}

.checkout .container-280 {
  height: 21px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 503px;
}

.checkout .text-wrapper-88 {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 90px;
}

.checkout .horizontal-border-13 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d5d0e9;
  height: 82px;
  left: 0;
  position: absolute;
  top: 408px;
  width: 503px;
}

.checkout .heading-14 {
  height: 53px;
  position: relative;
  top: 14px;
}

.checkout .button-3 {
  height: 53px;
  position: relative;
  width: 503px;
}

.checkout .text-wrapper-89 {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  width: 107px;
}

.checkout .visa {
  background-image: url(../../../static/img/visa-sxiq5dot-svg.png);
  background-size: 100% 100%;
  height: 24px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 38px;
}

.checkout .container-281 {
  height: 21px;
  left: 47px;
  overflow: hidden;
  position: absolute;
  top: 29px;
  width: 27px;
}

.checkout .text-wrapper-90 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 28px;
}

.checkout .text-wrapper-91 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 78px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
  width: 15px;
}

.checkout .text-wrapper-92 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 97px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
  width: 32px;
}

.checkout .section-payment {
  background-color: #f4f1ff;
  height: 280px;
  left: 0;
  position: absolute;
  top: 490px;
  width: 503px;
}

.checkout .label-sign-me-up-for {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 29px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 289px;
}

.checkout .overlap-group-6 {
  border-radius: 4px;
  height: 18px;
  left: 1px;
  position: absolute;
  top: 15px;
  width: 18px;
}

.checkout .overlay-shadow-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 10px #1773b0;
  height: 18px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 18px;
}

.checkout .overlay-shadow-11 {
  background-color: #ffffff01;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px #1773b0;
  height: 18px;
  opacity: 0.3;
}

.checkout .SVG-5 {
  height: 10px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 10px;
}

.checkout .add-tip {
  height: 95px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 503px;
}

.checkout .heading-add-tip {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 19px;
  left: 0;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 55px;
}

.checkout .background-border-38 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #dedede;
  border-radius: 8px;
  height: 51px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 503px;
}

.checkout .label-show-your {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 44px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 306px;
}

.checkout .input-4 {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 1px #dedede;
  height: 18px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 18px;
}

.checkout .button-pay-now {
  background-color: #5a31f4;
  border-radius: 8px;
  height: 52px;
  left: 0;
  position: absolute;
  top: 176px;
  width: 503px;
}

.checkout .text-wrapper-93 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 221px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 61px;
}

.checkout .button-4 {
  all: unset;
  border-radius: 8px;
  box-sizing: border-box;
  height: 21px;
  left: 192px;
  position: absolute;
  top: 245px;
  width: 119px;
}

.checkout .text-wrapper-94 {
  color: #1773b0;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 119px;
}

.checkout .footer-10 {
  background-color: transparent;
  border-bottom-style: none;
  border-color: #d5d0e9;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  height: 62px;
  left: 38px;
  position: absolute;
  top: 854px;
  width: 503px;
}

.checkout .container-282 {
  height: 47px;
  position: relative;
  top: 15px;
  width: 503px;
}

.checkout .button-dialog {
  border-radius: 8px;
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 84px;
}

.checkout .text-wrapper-95 {
  color: #1773b0;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: -1px;
  white-space: nowrap;
  width: 85px;
}

.checkout .button-dialog-2 {
  border-radius: 8px;
  height: 21px;
  left: 98px;
  position: absolute;
  top: 0;
  width: 85px;
}

.checkout .text-wrapper-96 {
  color: #1773b0;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: -1px;
  white-space: nowrap;
  width: 86px;
}

.checkout .button-dialog-3 {
  border-radius: 8px;
  height: 21px;
  left: 198px;
  position: absolute;
  top: 0;
  width: 104px;
}

.checkout .text-wrapper-97 {
  color: #1773b0;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: -1px;
  white-space: nowrap;
  width: 104px;
}

.checkout .button-dialog-4 {
  border-radius: 8px;
  height: 21px;
  left: 315px;
  position: absolute;
  top: 0;
  width: 117px;
}

.checkout .text-wrapper-98 {
  color: #1773b0;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: -1px;
  white-space: nowrap;
  width: 118px;
}

.checkout .button-dialog-5 {
  border-radius: 8px;
  height: 21px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 125px;
}

.checkout .text-wrapper-99 {
  color: #1773b0;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: -1px;
  white-space: nowrap;
  width: 125px;
}

.checkout .background-15 {
  background-color: #ffeffb;
  height: 953.91px;
  position: relative;
  width: 806.5px;
}

.checkout .aside-section-wrapper {
  height: 600px;
  width: 480px;
}

.checkout .aside-section {
  height: 524px;
  left: 38px;
  position: relative;
  top: 38px;
  width: 404px;
}

.checkout .overlap-wrapper {
  height: 328px;
  left: 0;
  position: absolute;
  top: 0;
  width: 404px;
}

.checkout .overlap-2 {
  height: 328px;
  position: relative;
}

.checkout .table-rowgroup-wrapper {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #eacbe2;
  height: 328px;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 404px;
}

.checkout .table-rowgroup-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
}

.checkout .table-rowgroup {
  height: 394px;
  position: relative;
  top: 7px;
  width: 389px;
}

.checkout .row {
  height: 190px;
  left: 0;
  position: absolute;
  top: 0;
  width: 389px;
}

.checkout .cell {
  background-color: #ffe3f8;
  border-radius: 8px;
  height: 64px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
}

.checkout .overlap-group-7 {
  height: 71px;
  position: relative;
  top: -7px;
  width: 71px;
}

.checkout .picture-vinyl {
  background-image: url(../../../static/img/picture-vinyl-stickers.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid;
  border-color: #eacbe2;
  border-radius: 8px;
  height: 64px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 64px;
}

.checkout .overlay-6 {
  background-color: #0000008f;
  border-radius: 36px;
  height: 22px;
  left: 37px;
  position: absolute;
  top: 0;
  width: 34px;
}

.checkout .text-wrapper-100 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 18px;
  left: 7px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 21px;
}

.checkout .cell-2 {
  height: 190px;
  left: 78px;
  position: absolute;
  top: 0;
  width: 254px;
}

.checkout .text-wrapper-101 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 84px;
}

.checkout .text-wrapper-102 {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 111px;
}

.checkout .list-23 {
  height: 151px;
  left: 0;
  position: absolute;
  top: 39px;
  width: 254px;
}

.checkout .item-select-a-cut {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
  width: 163px;
}

.checkout .item-material-matte {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 29px;
  white-space: nowrap;
  width: 96px;
}

.checkout .item-select-a-size {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 55px;
  white-space: nowrap;
  width: 168px;
}

.checkout .item-select-a {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 81px;
  white-space: nowrap;
  width: 145px;
}

.checkout .item-color-accuracy {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 107px;
  white-space: nowrap;
  width: 141px;
}

.checkout .item-link {
  border-radius: 8px;
  height: 16px;
  left: 0;
  position: absolute;
  top: 132px;
  width: 98px;
}

.checkout .text-wrapper-103 {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-decoration: underline;
  top: 1px;
  white-space: nowrap;
  width: 98px;
}

.checkout .cell-3 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 346px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 43px;
}

.checkout .row-2 {
  height: 190px;
  left: 0;
  position: absolute;
  top: 204px;
  width: 389px;
}

.checkout .overlay-7 {
  background-color: #0000008f;
  border-radius: 36px;
  height: 39px;
  left: 111px;
  position: absolute;
  top: 268px;
  width: 181px;
}

.checkout .overlap-3 {
  background-color: #ffeffb;
  border-radius: 36px;
  height: 39px;
  position: relative;
}

.checkout .overlay-8 {
  background-color: #0000008f;
  border-radius: 36px;
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 181px;
}

.checkout .text-wrapper-104 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 14px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 130px;
}

.checkout .SVG-6 {
  height: 14px;
  left: 153px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 14px;
}

.checkout .section-form {
  height: 51px;
  left: 0;
  position: absolute;
  top: 349px;
  width: 404px;
}

.checkout .input-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #dedede;
  border-radius: 8px;
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 327px;
}

.checkout .input-5 {
  border-radius: 8px;
  height: 49px;
  left: 1px;
  overflow: hidden;
  position: relative;
  top: 1px;
  width: 325px;
}

.checkout .container-283 {
  height: 16px;
  left: 11px;
  position: relative;
  top: 16px;
  width: 303px;
}

.checkout .text-wrapper-105 {
  color: #707070;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 161px;
}

.checkout .button-apply {
  all: unset;
  background-color: #ffe3f8;
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 1px #eacbe2;
  box-sizing: border-box;
  height: 51px;
  left: 341px;
  opacity: 0.5;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 63px;
}

.checkout .text-wrapper-106 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 21px;
  left: 14px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 35px;
}

.checkout .section-table {
  height: 102px;
  left: 0;
  position: absolute;
  top: 421px;
  width: 404px;
}

.checkout .row-3 {
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 404px;
}

.checkout .rowheader-subtotal {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 125px;
}

.checkout .cell-4 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 353px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: right;
  top: 1px;
  white-space: nowrap;
  width: 51px;
}

.checkout .row-4 {
  height: 21px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 404px;
}

.checkout .rowheader-shipping {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 54px;
}

.checkout .cell-free {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 372px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: right;
  top: 1px;
  white-space: nowrap;
  width: 33px;
}

.checkout .row-5 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 404px;
}

.checkout .rowheader-strong {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 19px;
  font-weight: 500;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: 28.5px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  width: 43px;
}

.checkout .cell-5 {
  height: 28px;
  left: 304px;
  position: absolute;
  top: 0;
  width: 100px;
}

.checkout .abbr-USD {
  color: #0000008f;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
  width: 23px;
}

.checkout .strong-2 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 19px;
  font-weight: 500;
  height: 28px;
  left: 30px;
  letter-spacing: 0;
  line-height: 28.5px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 70px;
}
