.component-33 {
  align-items: center;
  background-color: #0b0264;
  border: 1px solid;
  border-color: #0f028c;
  border-radius: 8px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 10.75px 10.74px 10.75px 20.74px;
  position: relative;
}

.component-33 .container-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.component-33 .text-22 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.60px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.component-33 .margin-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 19.99px;
  padding: 0px 5px 0px 0px;
  position: relative;
  width: 25px;
}

.component-33 .component-2-wrapper {
  align-items: center;
  display: flex;
  height: 19.99px;
  justify-content: center;
  position: relative;
  width: 20px;
}

.component-33 .component-2-instance {
  height: 19.99px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 19.99px !important;
}

.component-33.hover-28-true {
  left: 390px;
  opacity: 0.8;
  width: calc(100.00% - 390px);
}

.component-33.variant-31-two {
  top: 110px;
}

.component-33.variant-31-one {
  top: 30px;
}

.component-33.hover-28-false {
  left: 30px;
  width: calc(100.00% - 30px);
}
