.stickersheets {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  gap: 10px;
  height: 4570px;
  min-width: 1920px;
  position: relative;
  width: 100%;
}

.stickersheets .body-3 {
  align-items: flex-start;
  background-color: #070140;
  display: flex;
  flex-direction: column;
  height: 4570px;
  position: relative;
  width: 1920px;
}

.stickersheets .container-82 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 3619.64px;
  position: relative;
  width: 1920px;
}

.stickersheets .main-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.stickersheets .section-7 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1920px;
}

.stickersheets .container-83 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 1600px;
  padding: 16px 50px 0px;
  position: relative;
  width: 1600px;
}

.stickersheets .background-border-13 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #070140;
  border: 1px solid;
  border-color: #ffffff0d;
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  min-height: 420px;
  overflow: hidden;
  padding: 1px;
  position: relative;
  width: 100%;
}

.stickersheets .stickershuttle-wrapper {
  background-color: #ffffff1a;
  height: 99.52%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0.24%;
  width: 99.87%;
}

.stickersheets .stickershuttle-4 {
  background-image: url(../../../static/img/stickershuttle-banner-purplecustomstickers-36912e76-3eb1-4906-a6-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 418px;
  left: -28px;
  position: relative;
  width: 1511px;
}

.stickersheets .container-84 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  max-width: 1600px;
  padding: 0px 50px;
  position: relative;
}

.stickersheets .container-85 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  max-width: 680px;
  min-width: 450px;
  padding: 40px 35px;
  position: relative;
}

.stickersheets .heading-4 {
  align-self: stretch;
  height: 52px;
  position: relative;
  width: 100%;
}

.stickersheets .container-86 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  max-width: 450px;
  position: relative;
}

.stickersheets .component-72 {
  border-radius: 11px;
  display: block;
  height: 47px;
  position: relative;
  width: 185px;
}

.stickersheets .section-8 {
  background-color: #070140;
  height: 20px;
  position: relative;
  width: 1920px;
}

.stickersheets .background-border-14 {
  align-items: center;
  background-color: #f3ff00;
  border: 2px dashed;
  border-color: #bfd207;
  border-radius: 16px;
  box-shadow: 3px 3px 0px #8a970fcc;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 18px 2px;
  position: relative;
  width: 1500px;
}

.stickersheets .container-87 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 780px;
  position: relative;
  width: 780px;
}

.stickersheets .div-wrapper-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.stickersheets .all-orders-with-3 {
  align-self: stretch;
  color: #08084c;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.60px;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.stickersheets .text-wrapper-24 {
  font-weight: 300;
  letter-spacing: 0.10px;
}

.stickersheets .text-wrapper-25 {
  font-weight: 700;
  letter-spacing: 0.10px;
}

.stickersheets .section-9 {
  background-color: #070140;
  height: 24px;
  position: relative;
  width: 1920px;
}

.stickersheets .screenshot-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 722px;
  position: relative;
  width: 1920px;
}

.stickersheets .screenshot {
  height: 628px;
  position: relative;
  width: 1391.29px;
}

.stickersheets .container-88 {
  align-self: stretch;
  height: 677px;
  position: relative;
  width: 100%;
}

.stickersheets .background-5 {
  align-items: center;
  background-color: #070140;
  display: flex;
  flex-direction: column;
  height: 110px;
  position: relative;
  top: 7px;
  width: 1920px;
}

.stickersheets .container-89 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 110px;
  max-width: 1600px;
  padding: 0px 50px 24px;
  position: relative;
  width: 1600px;
}

.stickersheets .container-90 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 24px;
  height: 103px;
  margin-bottom: -17.00px;
  position: relative;
  width: 100%;
}

.stickersheets .container-91 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-width: 483.95px;
  position: relative;
}

.stickersheets .background-border-15 {
  align-items: center;
  align-self: stretch;
  background-color: #08084c;
  border: 1px solid;
  border-color: #0f028c;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 21px;
  position: relative;
  width: 100%;
}

.stickersheets .container-92 {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 50px;
}

.stickersheets .container-93 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -4.00px;
  margin-top: -4.00px;
  position: relative;
}

.stickersheets .text-wrapper-26 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 0.60px;
  line-height: 57.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.stickersheets .container-94 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 16px 0px;
  position: relative;
}

.stickersheets .div-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.stickersheets .text-wrapper-27 {
  color: #ffffff;
  font-family: var(--stickershuttle-com-inter-regular-font-family);
  font-size: var(--stickershuttle-com-inter-regular-font-size);
  font-style: var(--stickershuttle-com-inter-regular-font-style);
  font-weight: var(--stickershuttle-com-inter-regular-font-weight);
  letter-spacing: var(--stickershuttle-com-inter-regular-letter-spacing);
  line-height: var(--stickershuttle-com-inter-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.stickersheets .background-border-16 {
  align-items: center;
  align-self: stretch;
  background-color: #08084c;
  border: 1px solid;
  border-color: #0f028c;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 9.48px;
  padding: 21px 262.33px 21px 14.46px;
  position: relative;
  width: 100%;
}

.stickersheets .container-95 {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 63.06px;
}

.stickersheets .rectangle-4 {
  height: 57.59px;
  margin-bottom: -3.80px;
  margin-top: -3.80px;
  position: relative;
  width: 63.06px;
}

.stickersheets .container-96 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-right: -1.38px;
  padding: 16px 0px;
  position: relative;
}

.stickersheets .section-10 {
  align-items: center;
  background-color: #070140;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1920px;
}

.stickersheets .container-97 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 1600px;
  padding: 0px 50px 16px;
  position: relative;
  width: 1600px;
}

.stickersheets .slider-component-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 24px;
  position: relative;
  width: 100%;
}

.stickersheets .item-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  max-width: 357px;
  position: relative;
}

.stickersheets .container-98 {
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 31px 1px 21px;
  position: relative;
  width: 100%;
}

.stickersheets .background-border-17 {
  background-color: #08084c;
  border: 1px solid;
  border-color: #ffffff0d;
  border-radius: 16px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.stickersheets .container-99 {
  background-image: url(../../../static/img/stickershuttle-helmet-png-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 305px;
  position: relative;
  width: 305px;
}

.stickersheets .container-100 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 9.4px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.stickersheets .text-wrapper-28 {
  align-self: stretch;
  color: #ffffff;
  font-family: var(--stickershuttle-com-semantic-heading-3-font-family);
  font-size: var(--stickershuttle-com-semantic-heading-3-font-size);
  font-style: var(--stickershuttle-com-semantic-heading-3-font-style);
  font-weight: var(--stickershuttle-com-semantic-heading-3-font-weight);
  letter-spacing: var(--stickershuttle-com-semantic-heading-3-letter-spacing);
  line-height: var(--stickershuttle-com-semantic-heading-3-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.stickersheets .text-wrapper-29 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.60px;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.stickersheets .container-101 {
  height: 305px;
  position: relative;
  width: 305px;
}

.stickersheets .stickershuttle-5 {
  background-image: url(../../../static/img/stickershuttle-bottle-png-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 305px;
  left: 51px;
  position: relative;
  width: 203px;
}

.stickersheets .container-102 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 29px;
  position: relative;
  width: 100%;
}

.stickersheets .stickershuttle-board-2 {
  background-image: url(../../../static/img/stickershuttle-board-150b2de5-5194-4773-b983-0a4f746602a4-png-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 305px;
  left: 51px;
  position: relative;
  width: 203px;
}

.stickersheets .container-103 {
  background-image: url(../../../static/img/stickershuttle-visitmars-png-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 305px;
  position: relative;
  width: 305px;
}

.stickersheets .footer-4 {
  align-items: center;
  background: linear-gradient(
    161deg,
    rgba(7, 1, 64, 1) 100%,
    rgba(238, 238, 238, 1) 100%
  );
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1920px;
}

.stickersheets .container-104 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 29.99px;
  max-width: 1600px;
  padding: 0px 50px 50px;
  position: relative;
  width: 1600px;
}

.stickersheets .container-105 {
  align-self: stretch;
  height: 377.13px;
  position: relative;
  width: 100%;
}

.stickersheets .container-106 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 216px;
  left: 0;
  max-width: 1500px;
  position: absolute;
  top: 0;
  width: 484px;
}

.stickersheets .text-wrapper-30 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.60px;
  line-height: 23.4px;
  margin-top: -1.00px;
  position: relative;
}

.stickersheets .list-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -0.93px;
  position: relative;
  width: 100%;
}

.stickersheets .item-11 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 1.5px 0px 0px;
  position: relative;
  width: 469px;
}

.stickersheets .component-73 {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.stickersheets .item-12 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 469px;
}

.stickersheets .component-74 {
  flex: 0 0 auto !important;
  left: unset !important;
  padding: 4.5px 0px 4.69px !important;
  top: unset !important;
}

.stickersheets .container-107 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 216px;
  left: 508px;
  max-width: 1500px;
  position: absolute;
  top: 0;
  width: 484px;
}

.stickersheets .item-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-top: -0.01px;
  position: relative;
  width: 100%;
}

.stickersheets .container-108 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 19.3px;
  height: 216px;
  left: 1016px;
  max-width: 1500px;
  position: absolute;
  top: 0;
  width: 484px;
}

.stickersheets .text-wrapper-31 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.60px;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
}

.stickersheets .container-109 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 101px;
  left: 0;
  max-width: 1500px;
  position: absolute;
  top: 276px;
  width: 484px;
}

.stickersheets .container-110 {
  align-self: stretch;
  height: 99.8px;
  position: relative;
  width: 100%;
}

.stickersheets .container-111 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 101px;
  left: 508px;
  max-width: 1500px;
  position: absolute;
  top: 276px;
  width: 484px;
}

.stickersheets .container-112 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -8.00px;
  padding: 0px 0px 8.8px;
  position: relative;
  width: 100%;
}

.stickersheets .sticker-society-PNG-4 {
  background-image: url(../../../static/img/sticker-society-png-160x-png-6.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100px;
  position: relative;
  width: 385px;
}

.stickersheets .container-113 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 101px;
  left: 1016px;
  max-width: 1500px;
  position: absolute;
  top: 276px;
  width: 484px;
}

.stickersheets .strong-sticker-4 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.60px;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
}

.stickersheets .container-114 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.stickersheets .list-9 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0px 0px;
  height: 44px;
  justify-content: center;
  position: relative;
}

.stickersheets .item-14 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.stickersheets .component-75 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.stickersheets .component-76 {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.stickersheets .horizontal-border-4 {
  align-self: stretch;
  border-color: #ffffff14;
  border-top-style: solid;
  border-top-width: 1px;
  height: 1px;
  margin-bottom: -1.00px;
  position: relative;
  width: 100%;
}

.stickersheets .container-115 {
  height: calc(100.00% - 3325px);
  left: 0;
  position: absolute;
  top: 2375px;
  width: 100%;
}

.stickersheets .website-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 1188px;
  left: 0;
  max-height: 1188px;
  max-width: 1900.8px;
  position: absolute;
  top: 0;
  width: 1901px;
}

.stickersheets .image-fill-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1188px;
  justify-content: center;
  padding: 0px 356.4px;
  position: relative;
  width: 1900.8px;
}

.stickersheets .component-77 {
  position: relative !important;
}

.stickersheets .container-116 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  height: 581px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: calc(50.00% - 2285px);
}

.stickersheets .background-6 {
  align-items: flex-start;
  background: linear-gradient(
    176deg,
    rgba(7, 1, 64, 1) 100%,
    rgba(238, 238, 238, 1) 100%
  );
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 160px;
  position: relative;
  width: 1920px;
}

.stickersheets .header-4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 10px;
  max-width: 1600px;
  padding: 16px 50px 0px;
  position: relative;
  width: 100%;
}

.stickersheets .link-margin-6 {
  height: 69px;
  position: relative;
  width: 107.5px;
}

.stickersheets .link-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: -8px;
  padding: 7.5px;
  position: relative;
}

.stickersheets .sticker-shuttle-4 {
  background-image: url(../../../static/img/sticker-society-png-160x-png-6.png);
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  height: 62px;
  position: relative;
  width: 252px;
}

.stickersheets .nav-margin-3 {
  flex: 1;
  flex-grow: 1;
  height: 10.5px;
  position: relative;
}

.stickersheets .container-117 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.stickersheets .component-78 {
  align-self: stretch !important;
  border-color: #1a1a74 !important;
  flex: 0 0 auto !important;
  height: unset !important;
  position: relative !important;
  right: unset !important;
  top: unset !important;
}

.stickersheets .component-79 {
  font-weight: 500 !important;
}

.stickersheets .component-80 {
  align-self: stretch !important;
  background-color: #c3ff00 !important;
  border-color: #000000 !important;
  box-shadow: 2px 2px 0px #ffffff !important;
  flex: 0 0 auto !important;
  height: unset !important;
  position: relative !important;
  right: unset !important;
  top: unset !important;
}

.stickersheets .link-margin-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 44px;
  position: relative;
  width: 32px;
}

.stickersheets .component-81 {
  left: unset !important;
  margin-right: -12.00px !important;
  top: unset !important;
}

.stickersheets .flexcontainer-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 197px;
  width: 848px;
}

.stickersheets .text-36 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.60px;
  line-height: 17px;
  position: relative;
}

.stickersheets .text-wrapper-32 {
  letter-spacing: 0.09px;
}

.stickersheets .text-wrapper-33 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 35px;
  font-weight: 700;
  height: 50px;
  left: 263px;
  letter-spacing: 0.60px;
  line-height: 15px;
  position: absolute;
  top: 100px;
  width: 848px;
}

.stickersheets .component-82 {
  align-items: center;
  background-color: #ffd713;
  border-radius: 11px;
  display: flex;
  gap: 10px;
  height: 47px;
  justify-content: center;
  left: 263px;
  padding: 14px 30px;
  position: absolute;
  top: 376px;
  width: 185px;
}

.stickersheets .text-wrapper-34 {
  color: #000000;
  display: block;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.00px;
  line-height: 18px;
  margin-top: -0.50px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
