.component-40.variant-12 {
  left: 0;
  position: absolute;
  top: 0;
}

.component-40.variant-13 {
  height: 1218px;
  width: 1218px;
}

.component-40.variant-35-ten {
  height: 18px;
  width: 18px;
}

.component-40.variant-35-eight {
  height: 18px;
  width: 18px;
}

.component-40.variant-35-four {
  height: 20px;
  width: 20px;
}

.component-40.variant-35-three {
  height: 20px;
  width: 20px;
}

.component-40.variant-35-nine {
  height: 19px;
  width: 19px;
}

.component-40.variant-35-five {
  height: 20px;
  width: 20px;
}

.component-40.variant-35-six {
  height: 20px;
  width: 20px;
}

.component-40.variant-35-seven {
  height: 19px;
  width: 19px;
}

.component-40.variant-35-two {
  height: 44px;
  width: 44px;
}

.component-40.variant-35-one {
  height: 47px;
  width: 47px;
}
