.component-44 {
  align-items: center;
  background-color: #0b0264;
  border: 1px solid;
  border-color: #0f028c;
  border-radius: 8px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 30px;
  padding: 10.75px 10.74px 10.75px 20.74px;
  position: relative;
  top: 30px;
  width: calc(100.00% - 30px);
}

.component-44 .container-17 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.component-44 .text-31 {
  color: #ffffff;
  font-family: var(--stickershuttle-com-montserrat-regular-font-family);
  font-size: var(--stickershuttle-com-montserrat-regular-font-size);
  font-style: var(--stickershuttle-com-montserrat-regular-font-style);
  font-weight: var(--stickershuttle-com-montserrat-regular-font-weight);
  letter-spacing: var(--stickershuttle-com-montserrat-regular-letter-spacing);
  line-height: var(--stickershuttle-com-montserrat-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.component-44 .margin-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 19.99px;
  padding: 0px 5px 0px 0px;
  position: relative;
  width: 25px;
}

.component-44 .container-18 {
  align-items: center;
  display: flex;
  height: 19.99px;
  justify-content: center;
  position: relative;
  width: 20px;
}

.component-44 .component-26 {
  height: 19.99px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 19.99px !important;
}

.component-44:hover {
  left: 390px;
  opacity: 0.8;
  width: calc(100.00% - 390px);
}
