.component-10 {
  align-items: center;
  border-radius: 11px;
  display: inline-flex;
  justify-content: center;
  position: relative;
  top: 30px;
}

.component-10 .text-5 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.3px;
  font-weight: 300;
  letter-spacing: 1.02px;
  line-height: 18.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.component-10 .overlay-shadow-3 {
  background-color: #ffffff01;
  border-radius: 10px;
  box-shadow: 2px 2px 0px #cfaf13;
  height: calc(100.00% - 2px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 2px);
}

.component-10 .link-paints-2 {
  background-color: #f3ff00;
  border-radius: 11px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.component-10 .text-6 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.00px;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.component-10 .overlay-shadow-4 {
  background-color: #ffffff01;
  border-radius: 10px;
  box-shadow: 2px 2px 0px #cfaf13;
  display: block;
  height: calc(100.00% - 2px);
  left: 1px;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 2px);
}

.component-10.hover-10-true {
  background-color: #f3ff00;
  min-height: 47.94px;
  min-width: 124.44px;
  padding: 13.96px 30.6px 14.98px;
}

.component-10.hover-10-false {
  min-height: 47px;
  min-width: 122px;
  padding: 14px 30px 15px;
}
